*.swp
*.bak
*.back
*.doc
*.xls
*.sch~
schematics/*.sch~
geda-symbols/*.sym~
_build
sphinx/_build
_static
sphinx/_static
_templates
sphinx/_templates
lib/
demo/source_in.fs
demo/upload.fs
demo/bitfields_out.fs
demo/registers_out.fs
demo/constants_out.fs
*.pyc
__pycache__


